<h1><%= @welcome_message %></h1>
<p>Sally is <%= @age%> year old</p>

<H1>Iteration using scriptlets</H1>
<% for x in 1..10%>
	<P>HEADING NUMBER <%= x %></P>
<%- end -%>

<H1>A simple table</H1>

<table>
	<TR>
		<% @table["headings"].each do |head| %>
			<TD>
				<b><%= head %></b>
			</TD>
		<%- end -%>
	</TR>

	<% @table['body'].each do |row| %>
		<TR>
			<% row.each do |col| %>
				<TD> <%= col %></TD>	
			<%- end -%>
		</TR>
	<%- end -%>
</table>

